extends layout

block content
  .tnfs-premiere
    .special-header.header_quote
      span About Us
    .tnfs-content
      img.c-image(src='levsitepic.png', border='0', alt='[name]')
      p That Never Fading Smile is dedicated to the loving memory of Levon Thomas. A friend, son, brother, and cousin that left us much too soon. Levon, simply put, was light. His charisma and presence alone would illuminate a room and the others around him. He had a certain depth to his pattern of thinking, he was able to illustrate his thoughts through words in the most unique of ways. His ability and more so his strive to grow and learn had really developed in the past few months. He wanted to be better and was constantly enriching his mind through many outlets, by far the most important being music. For this reason, some of Lev’s closest friends have gathered together to create this website. In times of hardship and sorrow words can be hollow. Lev and I understood this to its full extent, hence why we leaned on music’s ability to heal and comfort. Music was a major factor in Levon and I becoming such close friends. Countless nights would be spent just talking and searching for music that paralleled our current states of mind. A song, riff, or even some lyrics could sometimes capture the idea we were trying to get across to each other better than our words could. This inspired the launch of this site. It was designed, developed, and its content chosen by close friends of Lev. Check back in every Wednesday to listen to future playlists.
      h4 Listen, enjoy, and most importantly, always rock
      h4 That Never Fading Smile.
      p Endless love,
      p Mauricio
      hr
      p(style='text-align:center;')
        | Developed by 
        a(href='http://dng.io', target='_blank') dng.io
        | . Powered by 
        a(href='https://soundcloud.com', target='_blank') Soundcloud
        | .
