extends _layouts/v1

block content
  .tnfs-premiere
    .special-header.header_quote
      span Contributors
    p.tnfs-content
      | That Never Fading Smile is a collaboration between some of Lev’s closest friends. We are music lovers inspired by songs, riffs and lyrics of various genres from all around the world. Each contributor brings their own unique influence to the mix, See below for more information on each of us
    .contributors
      figure.snip1376
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg', alt='sample17')
        figcaption
          h2 Linguina Nettlewater
          p Contributor
          p Recent Playlist:
          .icons
            a(href='', target='_new')
              i.fa.fa-soundcloud
            a(href='', target='_new')
              i.fa.fa-instagram
            a(href='', target='_new')
              i.fa.fa-twitter
            a(href='', target='_new')
              i.fa.fa-link
      figure.snip1376.hover
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg', alt='sample47')
        figcaption
          h2 Max Conversion
          p Contributor
          p Recent Playlist:
          .icons
            a(href='', target='_new')
              i.fa.fa-soundcloud
            a(href='', target='_new')
              i.fa.fa-instagram
            a(href='', target='_new')
              i.fa.fa-twitter
            a(href='', target='_new')
              i.fa.fa-link
      figure.snip1376
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample38.jpg', alt='sample38')
        figcaption
          h2 Caspian Bellevedere
          p Contributor
          p Recent Playlist:
          .icons
            a(href='', target='_new')
              i.fa.fa-soundcloud
            a(href='', target='_new')
              i.fa.fa-instagram
            a(href='', target='_new')
              i.fa.fa-twitter
            a(href='', target='_new')
              i.fa.fa-link


  .tnfs-premiere
    .special-header.longread
      span Interested in Contributing to That Never Fading Smile ?
    p.tnfs-content  We are always looking for passionate music fans to contribute a playlist or song(s) suggestion to our weekly mix. If you'd like to join our collaboration please email us at ____.

