extends _layouts/v1

block content
  .tnfs-premiere
    .special-header.header_quote
      i.fa.fa-comment-o.fa-2x
      span Quote of the Week
    p.tnfs-content
      span.quote “Kill them with positive vibes"
      br
      span.quote_author
        | - Levon Thomas
  .page-header

    p {{ dateCreated  }}
    p {{ playlist.title }}
    p
      i.fa.fa-user
      |  : [name]

  section#one
    //- pre
      //- https://i1.sndcdn.com/artworks-000146644576-1usx2g-t500x500.jpg
    img.playlist-img(v-bind:src="playlist.artwork_url.replace('-large', '-t500x500')", style="display:block; margin-left:auto; margin-right:auto; width:100%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);")
    ul.list-reset.trackList#tracklist


      li.trackItem(v-for="item in playlist.tracks")
        .track-progress-bar
          .play-bg(style='width:0%')
        button.flex.flex-center.full-width.left-align.track-button.button-transparent(v-bind:data-stream="item.stream_url", v-bind:data-id="item.id")
          span.trackPlay
            i.fa.fa-play.trackerFun.fa-2x
          span.trackTitle {{ item.title }}
          span.trackArtist {{ item.user.username }}

  .row
    h2(style='text-align:right; font-family:Ubuntu;')
      a(href='/archive.html' style='cursor: pointer;') Archive

  .tnfs-premiere
    .special-header.album-premiere
      i.fa.fa-headphones.fa-2x
      span ARTIST FEATURE
    p.tnfs-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  .tnfs-premiere
    .special-header.longread
      i.fa.fa-hashtag.fa-2x
      span GOOD READ
    p.tnfs-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .pager
    a(href='#') ← Vol. #
    a(href='#') Vol. # →
